.footer{
    width:100%;
    min-height:200px;
    background-color: var(--almostsemi);
    color:var(--lightg);
}
.footer__topArea{
    background-color:var(--semidark);
    display: flex;
    align-items: center;
    justify-content:center;
    padding:1em;
}
.footer__topArea:hover{
    color:var(--lightv);
    cursor:pointer;
}
.footer__links{
    padding: 1rem;
    width:70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
}
.footer__linkarea{
    display: flex;
    flex-direction: column;
}
.footer__linkarea *:hover{
    color:var(--lightv);
    cursor:pointer;
}